<div class="row">
	<div class="col">
		<h2><%= image_tag "nice-dino-small.png", class: "float-start me-2" %> Dinosaurs in the Park</h2>
	</div>
	<div class="col-12">
		<p class="text-warning"><strong>Caution:</strong> Dinosaurs have a thing for nibbling – keep your fingers and snacks at a safe distance!</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<%= render partial: "table" %>
	</div>
</div>
