<div class="row">
	<div class="col">
		<h2>Reconfigure Cage ID <%=@cage.id %></h2>
	</div>
</div>

<div class="row">
	<div class="col">
		<%= render partial: "form", locals: { cage: @cage } %>
	</div>
</div>
