<div class="row">
	<div class="col">
		<h2><%= @cage.name %></h2>
	</div>
</div>

<div class="row">
	<div class="col">
		<h3>Dinosaurs in this Cage</h3>
		<%= render partial: "dinosaurs/table" %>
	</div>
</div>